services:
  api_gateway:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
        - "8000:8000"
    env_file:
        - .env
      # --- ДОБАВЬ ЭТИ СТРОКИ ---
    volumes:
        - .:/app
    working_dir: /app
    environment:
        - PYTHONPATH=/app
      # -------------------------
    depends_on:
        orders_db:
          condition: service_healthy
        redis:
          condition: service_started
        order_service:
          condition: service_started

  worker_service:
    build:
      context: ./worker_service
    working_dir: /app
    env_file:
      - .env
    depends_on:
      orders_db:
        condition: service_healthy
      redis:
        condition: service_started
      kafka:
        condition: service_started  # worker будет ждать Kafka
    volumes:
      - ./worker_service:/app

  order_service:
    build:
      context: .
      dockerfile: Dockerfile  # Если используешь общий из корня
    container_name: order_service
    ports:
      - "8001:8000"
    volumes:
      - .:/app               # Пробрасываем код внутрь
    working_dir: /app        # Работаем из корня
    environment:
      - PYTHONPATH=/app:/app/order_service
      - SERVICE_NAME=order_service
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@orders_db:5432/orders_db
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    # Явно запускаем main.py из папки order_service
    command: uvicorn order_service.main:app --host 0.0.0.0 --port 8000
    depends_on:
      orders_db:
        condition: service_healthy
      kafka:
        condition: service_healthy


  orders_db:
    image: postgres:15
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  redis:
    image: redis:7
    ports:
      - "6379:6379"


  kafka:
    image: apache/kafka:3.7.1
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093,EXTERNAL://0.0.0.0:9094
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
        # НОВЫЕ СТРОКИ ТУТ:
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
        # ---
      KAFKA_NUM_PARTITIONS: 1
      KAFKA_CONFLUENT_SUPPORT_METRICS_ENABLE: "false"
    healthcheck:
      test: [ "CMD", "nc", "-z", "kafka", "9092" ]
      interval: 10s
      timeout: 10s
      retries: 20


  alembic:
    build:
      context: .
      dockerfile: Dockerfile.alembic
    env_file:
      - .env
    working_dir: /app
    volumes:
      - .:/app
    depends_on:
      orders_db:
        condition: service_healthy

volumes:
  pgdata: