name: Project CI

on: [push]

jobs:
  test-logic:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: orders_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      kafka:
        image: bitnami/kafka:3.5
        ports:
          - 9092:9092
        env:
          KAFKA_CFG_NODE_ID: 0
          KAFKA_CFG_PROCESS_ROLES: controller,broker
          KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
          KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
          KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 0@localhost:9093
          KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
          KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
          KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: "true"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Установка библиотек, которые нужны твоему проекту
          pip install fastapi uvicorn aiokafka asyncpg sqlalchemy pytest pytest-asyncio httpx
          # Если есть файл зависимостей, доустанавливаем из него
          if [ -f api_gateway/requirements.txt ]; then pip install -r api_gateway/requirements.txt; fi

      - name: Run Tests
        env:
          DATABASE_URL: postgresql+asyncpg://user:password@localhost:5432/orders_db
          KAFKA_BOOTSTRAP_SERVERS: localhost:9092
        run: |
          # Добавляем корневую папку в PYTHONPATH, чтобы Python видел твои модули
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest api_gateway/tests/test_orders.py -v