name: Project CI

on: [push]

jobs:
  test-logic:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Укажи путь к своему файлу зависимостей
          if [ -f api_gateway/requirements.txt ]; then pip install -r api_gateway/requirements.txt; fi
          pip install pytest pytest-asyncio httpx  # Ставим инструменты для тестов