name: Project CI

on: [push]

jobs:
  test-logic:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: orders_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      kafka:
        image: confluentinc/cp-kafka:7.4.0
        ports:
          - 9092:9092
        env:
          KAFKA_BROKER_ID: 1
          KAFKA_ZOOKEEPER_CONNECT: 'not_used' # В новых версиях не нужно, но образ может просить
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
          KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
          KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
          KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
          KAFKA_PROCESS_ROLES: 'broker,controller'
          KAFKA_NODE_ID: 1
          KAFKA_CONTROLLER_QUORUM_VOTERS: '1@localhost:9093'
          KAFKA_LISTENERS: 'PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093'
          KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Установка библиотек, которые нужны твоему проекту
          pip install fastapi uvicorn aiokafka asyncpg sqlalchemy pytest pytest-asyncio httpx
          # Если есть файл зависимостей, доустанавливаем из него
          if [ -f api_gateway/requirements.txt ]; then pip install -r api_gateway/requirements.txt; fi

      - name: Run Tests
        env:
          DATABASE_URL: postgresql+asyncpg://user:password@localhost:5432/orders_db
          KAFKA_BOOTSTRAP_SERVERS: localhost:9092
        run: |
          # Добавляем именно папку api_gateway в пути поиска модулей
          export PYTHONPATH=$PYTHONPATH:$(pwd)/api_gateway
          pytest api_gateway/tests/test_orders.py -v