name: CI Pipeline

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      kafka:
        image: apache/kafka:3.7.1
        ports:
          - 9092:9092
        env:
          KAFKA_NODE_ID: 1
          KAFKA_PROCESS_ROLES: broker,controller
          KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
          KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
          KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
          KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
          KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
          KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install All Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-asyncio httpx sqlalchemy aiokafka asyncpg fastapi uvicorn celery passlib pydantic-settings
          if [ -f api_gateway/requirements.txt ]; then
          pip install -r api_gateway/requirements.txt
          fi

      - name: Wait for Kafka
        run: |
          echo "Waiting for Kafka (apache/kafka) to start..."
          timeout 60s bash -c 'until printf "" 2>>/dev/null >>/dev/tcp/localhost/9092; do sleep 2; done'
          echo "Port 9092 is open!"
          sleep 10

      - name: Run Tests
        env:
          # Передаем адрес Kafka в тесты через переменную окружения
          KAFKA_BOOTSTRAP_SERVERS: localhost:9092
          PYTHONPATH: ${{ github.workspace }}/api_gateway
        run: |
          pytest api_gateway/tests/ -v

