name: CI Pipeline

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      # Поднимаем базу данных
      db_orders:
        image: postgres:15
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: orders_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      # Поднимаем Kafka
      kafka:
        image: apache/kafka:3.7.1
        ports:
          - 9092:9092
        env:
          KAFKA_NODE_ID: 1
          KAFKA_PROCESS_ROLES: broker,controller
          KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
          KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
          KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          pip install pytest pytest-asyncio httpx sqlalchemy aiokafka asyncpg fastapi uvicorn celery passlib pydantic-settings
          if [ -f api_gateway/requirements.txt ]; then pip install -r api_gateway/requirements.txt; fi

      - name: Wait for Kafka
        run: |
          echo "Waiting for Kafka..."
          timeout 60s bash -c 'until printf "" 2>>/dev/null >>/dev/tcp/localhost/9092; do sleep 2; done'
          sleep 15

      - name: Create Kafka Topic
        run: |
          docker exec $(docker ps -q --filter ancestor=apache/kafka:3.7.1) \
          /opt/kafka/bin/kafka-topics.sh --create --topic orders_new --bootstrap-server localhost:9092 --partitions 1 --replication-factor 1 || true

      - name: Map hostnames to localhost
          # Это заставит систему думать, что и 'postgres', и 'db_orders' — это localhost
        run: |
          sudo echo "127.0.0.1 postgres" | sudo tee -a /etc/hosts
          sudo echo "127.0.0.1 db_orders" | sudo tee -a /etc/hosts

      - name: Run Tests
        env:
          KAFKA_BOOTSTRAP_SERVERS: localhost:9092

          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: orders_db

          DATABASE_URL: postgresql+asyncpg://postgres:postgres@localhost:5432/orders_db
          PYTHONPATH: ${{ github.workspace }}/api_gateway
        run: |
          pytest api_gateway/tests/ -v --maxfail=1
