name: Full Project CI

on: [push]

jobs:
  test-services:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: orders_db
        ports: ["5432:5432"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      kafka:
        image: confluentinc/cp-kafka:7.4.0
        ports: ["9092:9092"]
        env:
          KAFKA_BROKER_ID: 1
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
          KAFKA_PROCESS_ROLES: 'broker,controller'
          KAFKA_NODE_ID: 1
          KAFKA_CONTROLLER_QUORUM_VOTERS: '1@localhost:9093'
          KAFKA_LISTENERS: 'PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093'
          KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install All Dependencies
        run: |
          pip install pytest pytest-asyncio httpx sqlalchemy aiokafka asyncpg fastapi uvicorn celery
          # Ставим зависимости для всех сервисов
          find . -name "requirements.txt" -exec pip install -r {} +

      - name: Run API Gateway Tests
        env:
          DATABASE_URL: postgresql+asyncpg://user:password@localhost:5432/orders_db
          KAFKA_BOOTSTRAP_SERVERS: localhost:9092
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)/api_gateway
          pytest api_gateway/tests/ -v

      - name: Run Order Service Tests

        run: |
          if [ -d order_service/tests ]; then
            export PYTHONPATH=$PYTHONPATH:$(pwd)/order_service
            pytest order_service/tests/ -v
          else
            echo "No tests found in order_service"
          fi

  docker-build:
    runs-on: ubuntu-latest
    needs: test-services # Начинаем сборку только если тесты прошли
    steps:
      - uses: actions/checkout@v4

      - name: Build API Gateway Image
        run: docker build -t api-gateway:latest ./api_gateway

      - name: Build Order Service Image
        run: docker build -t order-service:latest ./order_service
