name: CI Pipeline

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: orders_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

      kafka:
        image: apache/kafka:3.7.1
        ports:
          - 9092:9092
        env:
          KAFKA_NODE_ID: 1
          KAFKA_PROCESS_ROLES: broker,controller
          KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
          KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
          KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install pytest pytest-asyncio httpx
          pip install sqlalchemy asyncpg aiokafka fastapi uvicorn celery passlib pydantic-settings
          if [ -f api_gateway/requirements.txt ]; then pip install -r api_gateway/requirements.txt; fi

      - name: Wait for PostgreSQL
        run: |
          echo "Waiting for PostgreSQL..."
          timeout 60s bash -c 'until pg_isready -h localhost -p 5432 -U postgres; do sleep 2; done'

      - name: Wait for Kafka
        run: |
          echo "Waiting for Kafka..."
          timeout 60s bash -c 'until printf "" 2>/dev/null >>/dev/tcp/localhost/9092; do sleep 2; done'
          sleep 10

      - name: Create Kafka topic
        run: |
          docker exec $(docker ps -q --filter ancestor=apache/kafka:3.7.1) \
          /opt/kafka/bin/kafka-topics.sh \
          --create \
          --topic orders_new \
          --bootstrap-server localhost:9092 \
          --partitions 1 \
          --replication-factor 1 || true


      - name: Run migrations
        env:
          DATABASE_URL: postgresql+asyncpg://postgres:postgres@localhost:5432/orders_db
        run: |
          alembic upgrade head

      - name: Run tests
        env:
          PYTHONPATH: ${{ github.workspace }}/api_gateway

          DATABASE_URL: postgresql+asyncpg://postgres:postgres@localhost:5432/orders_db
          KAFKA_BOOTSTRAP_SERVERS: localhost:9092
        run: |
          pytest api_gateway/tests/ -v --maxfail=1
